form {
    display: block;
    margin-top: 0em;
}

.form-input {
    height: 3.25rem;
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
    border-color: #0000;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

input {
    outline: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}